{% load staticfiles %}
{% load mathjax %}

{% mathjax_scripts %}
$${{formula}}$$

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
<style>
a.test {
    font-weight: bold;
}
</style>

<canvas id="myCanvas" width="200" height="100" style="border:1px solid #c3c3c3;">
Your browser does not support the HTML5 canvas tag.
</canvas>

<script>
var c = document.getElementById("myCanvas");
var ctx = c.getContext("2d");
ctx.fillStyle = "#FF0000";
ctx.fillRect(0,0,60,75);
</script>

{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a id="test2" href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}

<a id="test" href="http://jquery.com/">jQuery</a>
<script type="text/javascript" src="{% static 'static_jquery/js/jquery.js' %}"> </script>


<script>
$( document ).ready(function() {
 
    $( "#test" ).click(function() {
      event.preventDefault();
      $( "#test" ).animate({
        opacity: 0.25,
        left: "+=50",
      }, function() {
        // Animation complete.
      });
    });
});
</script>