
/*
body {
    background: white url("images/background.gif") no-repeat right bottom;
}
*/
ul {
    list-style-type: none;
}

.connectedSortable li{
    font-size: 24pt;
    //float: left;
    display: inline-table;
}

.dialog {
    display: none;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}

.segment {
  border: ridge !important;
  background: transparent !important;
}