{% load staticfiles %}
{% load mathjax %}

{% mathjax_scripts %}

<link rel="stylesheet" type="text/css" href="{% static 'agame/style.css' %}" />
<script type="text/javascript" src="{% static 'static_jquery/js/jquery.js' %}"> </script>
<link rel="stylesheet" type="text/css" href="{% static 'jquery-ui-1.11.4/jquery-ui.min.css' %}" />
<script type="text/javascript" src="{% static 'jquery-ui-1.11.4/jquery-ui.min.js' %}"> </script>

<form style="display: hidden" action="{% url 'agame:game' %}" method="POST" id="form_game">
  {% csrf_token %}
  <input type="hidden" id="count_game" name="correct" value=""/>
</form>

<form style="display: hidden" action="{% url 'agame:results' %}" method="POST" id="form_results">
  {% csrf_token %}
  <input type="hidden" id="count_results" name="correct" value=""/>
</form>

<a id="question" position="relative">{{ question.question_text }}</a>
<ul id="snaptarget" class="ui-widget-header connectedSortable">
</ul>

<ul id="sortable" class="connectedSortable">
{% for segment in segment_list %}
    <li id="{{ segment.index }}"> <a class="ui-widget-content segment"> ${{ segment.segment_text }}\enspace$ </a> </li>
{% endfor %}
</ul>

<button>Next</button>

<div id="warning" title="Warning" class="dialog">
  <p>Please finish the question before clicking on "Next"</p>
</div>

<div id="correct" class="dialog">
  <p>Correct!</p>
</div>

<div id="wrong" class="dialog">
  <p>Wrong!</p>
</div>

<script>
var segment_count = $( ".ui-widget-content" ).length;
var is_last_question = {{ is_last_question|yesno:"true,false" }};

$( "#snaptarget" ).height($( "#sortable li" ).height());

$( ".ui-widget-content" ).css("background-color", "transparent");

$( "#sortable, #snaptarget" ).sortable({
  connectWith: ".connectedSortable",
}).disableSelection();

function isSorted(arr) {
  var len = arr.length - 1;
  for(var i = 0; i < len; ++i) {
    if(parseInt(arr[i]) > parseInt(arr[i+1])) {
      return false;
    }
  }
  return true;
}

$( "button" ).button().click(function() {
  var index_arr = $( "#snaptarget" ).sortable("toArray");

  if (index_arr.length != segment_count) {
    $( "#warning" ).dialog();
    return;
  }

  var sorted = isSorted(index_arr);
  var correct;
  if (sorted) {
    correct = 1;
    $( "#correct" ).dialog({
      closeOnEscape: false,
      draggable: false,
      dialogClass: "no-close"
    });
  } else {
    correct = 0;
    $( "#wrong" ).dialog({
      closeOnEscape: false,
      draggable: false,
      dialogClass: "no-close"
    });
  }

  setTimeout(function() {
    if (is_last_question) {
      $( "#count_results" ).val(correct);
      $( "#form_results" ).submit();
      //location.href = "{% url 'agame:results' %}";
    } else {
      $( "#count_game" ).val(correct);
      $( "#form_game" ).submit();
    }
  }, 1000);

});




/*MathJax.Hub.Queue(function() {
var length = 0;
$( ".segment" ).each(function() {
  length += $( this ).width();
});
$( ".ui-widget-header" ).width(length);
});*/
//var question_position = $( "#question" ).offset();

//MathJax.Hub.Queue(function() {

//});
</script>
